#scene {
    width: 100vw;
    height: 56.42vw;
    position: relative;
}

#baggrund {
    width: 100vw;
    height: 56.42vw;
    background-image: url(baggrund08.png);
    background-size: 100%;

}

#lorenzoscooter {
    width: 18vw;
    height: 19.1vw;
    background-image: url(lorenzoP%C3%85SCOOTER.svg);
    background-size: 100%;
    position: absolute;
    left: 1vw;
    bottom: 8vw;
    animation-name: dytdyt;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

#mogens {
    width: 30vw;
    height: 42.86vw;
    background-image: url(mogensringer.svg);
    background-size: 200%;
    background-position: 100%;
    position: absolute;
    left: 72vw;
    bottom: 6vw;
    transform: scale(0.8)
}

.mogensringer {
    animation-name: callpizza;
    animation-duration: 10s;
    animation-timing-function: steps(2);
    animation-iteration-count: 1;
}

#lastbil {
    width: 30vw;
    height: 15vw;
    background-image: url(truck-01.svg);
    background-size: 100%;
    position: absolute;
    left: 54vw;
    bottom: 24vw;
    transform: scale(0.4);
    animation-name: vroom;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes dytdyt {
    40% {
        left: 30vw;
    }

    60% {
        left: 30vw;
    }
    70% {
        left: 30vw;
    }
    100% {
        left: 30vw;
    }
    /*
@keyframes dytdyt {

    20% {
        left: 30vw;
    }

    40% {
        left: 30vw;
    }
    70% {
        left: 70vw;
    }
    100% {
        left: 70vw;
    }
*/
}

#farvecontainer {
    position: absolute;
    left: 32.5vw;
    bottom: 8.78vw;
    transform: scale(0.11)
}

#farveskift {
    width: 30vw;
    height: 42.86vw;
    background-image: url(gr%C3%B8ntlys.svg);
    background-size: 200%;


}

.skift {
    animation-name: green;
    animation-duration: 26s;
    animation-timing-function: steps(2);
    animation-iteration-count: 1;

}

@keyframes green {
    0% {
        background-position: 0%;
    }
    20% {
        background-position: -200%;

    }
    40% {
        background-position: -200%;

    }
    70% {
        background-position: -200%;
    }
    80% {
        background-position: -200%;

    }
}
